FORMAT: 1A
HOST: http://api.lvh.me:3000

# Yalty API

## Account Settings [/api/v1/settings]

### GET Account settings details [GET]

Settings for current account

+ Request (application/json)

+ Response 200 (application/json)

        {
            "subdomain": "my-company-946",
            "company_name": "My lol",
            "timezone": "Europe/Madrid",
            "default_locale": "en",
            "type": "settings"
        }

### PUT Update account settings [PUT]

Ability to update current account settings

+ Attributes
  + subdomain: my.subdomain (string) - Account subdomain
  + company_name: ABC company (string)
  + timezone: Europe/Madrid (string)
  + default_locale: en (string)
  + type: settings (string)

+ Request (application/json)

        {
            "subdomain": "my.subdomain",
            "company_name": "ABC",
            "timezone": "Europe/Madrid",
            "default_locale": "en",
            "type": "settings"
        }

+ Response 204

### PATCH Assign holiday policy to account as default policy [PATCH]

+ Attributes
  + holiday_policy:
    + id: 1ab (string) - Id holiday policy
    + type: holiday_policy (string)

+ Request (application/json)

        {
            "holiday_policy": {
                "id": "12345678-1234-1234-1234-123456789012",
                "type": "holiday_policy"
            }
        }

+ Response 204






## Employee Attribute Definitions Collectiuon [/api/v1/employee_attribute_definitions]

### GET List of all employee attributes definitions [GET]

Get a list of all account's Employee Attribute Definitions

+ Request (application/json)

+ Response 200 (application/json)

    [
        {
            "id": "12345678-1234-1234-1234-123456789012",
            "name": "firstname",
            "label": "test",
            "attribute_type": "String",
            "type": "employee/attribute_definition",
            "system": "true"
        },
        {
            "id": "87654321-1234-1234-1234-123456789012",
            "name": "lastname",
            "label": "test",
            "attribute_type": "String",
            "type": "employee/attribute_definition",
            "system": "true"
        },
    ]

### POST Create a new employee attribute definition [POST]

Create a new employee attribute definition
By default account_id is equal Account.current.id

+ Attributes (Employee Attribute Definition Base)

+ Request (application/json)

    {
        "name": "lastname",
        "system": "true",
        "label": "test",
        "attribute_type": "String"
    }

+ Response 201 (application/json)

    {

        "id": "87654321-1234-1234-1234-123456789012",
        "name": "lastname",
        "label": "test",
        "attribute_type": "String",
        "type": "employee/attribute_definition",
        "system": "true"
    }

## Employee Attribute Definition [/api/v1/employee_attribute_definitions/{employee_attribute_definition_id}]

+ Parameters
  + employee_attribute_definition_id: 12345678-1234-1234-123456789012 (required, string) - ID is in uuid format

### GET

+ Request (application/json)

+ Response 200 (application/json)

        {
            "id": "12345678-1234-1234-1234-123456789012",
            "name": "firstname",
            "label": "test",
            "attribute_type": "String",
            "type": "employee/attribute_definition",
            "system": "true"
        }

### PUT Update Employee Attribute Definition [PUT]

+ Attributes (Employee Attribute Definition Put)

+ Request (application/json)

        {
            "label": "test",
            "system": "true",
            "type": "String",
            "name": "firstname"
        }

+ Response 204 (application/json)

### PATCH Update Employee Attribute Definition [PATCH]

+ Attributes (Employee Attribute Definition Patch)

+ Request (application/json)

        {
            "label": "test"
        }

+ Response 204 (application/json)

### DELETE destroy Employee Attribute Definiiton [DELETE]

+ Request (application/json)

+ Response 204





## Holiday Policies Collection [/api/v1/holiday_policies]

### GET List of all account's holiday policies [GET]
Get a list of all available for account holiday policies

+ Request (application/json)

+ Response 200 (application/json)
        [
            {
              "name": "test",
              "country": "pl",
              "region": null,
              "id": "12345678-1234-1234-1234-123456789012",
              "type": "holiday_policy"
            },
            {
              "name": "test",
              "country": "ch",
              "region": zh,
              "id": "87654321-1234-1234-1234-123456789012",
              "type": "holiday_policy"
            }
        ]

### POST Create a holiday policy [POST]

Create a new holiday_policy
By default account_id is equal Account.current.id

+ Attributes (Holiday Policy Base)

+ Request (application/json)

        {
             "name" : "test",
             "country": "ch",
             "region": "zh",
             "type": "holiday_policy",
             "employees" : [
                 {
                     "id": "12345678-1234-1234-1234-123456789012",
                     "type": "employee"
                 },
                 {
                     "id": "87654321-1234-1234-1234-123456789012",
                     "type": "employee"
                 }
              ],
              "working_places" : [
                  {
                      "id": "12345678-1234-1234-1234-123456789012"
                  }
              ],
              "holidays": [
                  {
                      "id": "12345678-1234-1234-1234-123456789012"
                  }
              ]
        }

+ Response 201 (application/json)

        {
            "id": "12345678-1234-1234-1234-123456789012",
            "name": "test"
            "country": "ch",
            "region": "zh",
            "type": "holiday_policy"
        }

## Holiday Policy [/api/v1/holiday_policies/{holiday_policy_id}]

+ Parameters
    + holiday_policy_id: 12345678-1234-1234-123456789012 (required, string) - ID of the Holiday Policy is an uuid

### GET Get Holiday Policy Details [GET]

+ Request (application/json)

+ Response 200 (application/json)

        {
            "id": "12345678-1234-1234-1234-123456789012",
            "name": "test",
            "country": "ch",
            "region": "zh",
            "type": "holiday_policy"
        }

### PUT Update Holiday Policy [PUT]

+ Attributes (Holiday Policy Put)

+ Request (application/json)

        {
            "name": "Poland",
            "country" : "pl"
        }

+ Response 204 (application/json)


### PATCH Update Holiday Policy [PATCH]

+ Attributes (Holiday Policy Patch)

+ Request (application/json)

        {
            "country" : "pl",
            "employees" : [
                 {
                     "id": "12345678-1234-1234-1234-123456789012",
                     "type": "employee"
                 },
                 {
                     "id": "87654321-1234-1234-1234-123456789012",
                     "type": "employee"
                 }
            ]
        }

+ Response 204 (application/json)

### DELETE

+ Request (application/json)

+ Response 204








## Working Places Collection [/api/v1/working_places]

### GET List all user's working places [GET]

Get a list of all available for user working places

+ Request (application/json)

+ Response 200 (application/json)

        [
            {
              "id": "12345678-1234-1234-1234-123456789012",
              "name": "test-working-place",
              "type": "working_place"
            },
            {
              "id": "87654321-1234-1234-1234-123456789012",
              "name": "test-test",
              "type": "working_place"
            }
        ]

### POST Create a working place [POST]

Create a new working place
By default account_id is equal Account.current.id

+ Attributes (Working Place Base)

+ Request (application/json)

        {
            "name": "Office",
            "type": "working_place"
        }

+ Response 201 (application/json)

        {
            "id": "12345678-1234-1234-1234-123456789012",
            "name": "test-working-place",
            "type": "working_place"
        }

## Working Place [/api/v1/working_places/{working_place_id}]

+ Parameters
    + working_place_id: 1ab (required, string) - ID of the Working Place is an uuid

### GET Get Working Place Details [GET]

+ Request (application/json)

+ Response 200 (application/json)

        {
            "id": "12345678-1234-1234-1234-123456789012",
            "name": "test-working-place",
            "type": "working_place"
        }

### GET Get Working Place Details with holiday policy [GET /api/v1/working_places/{working_place_id}?embed=holiday_policy]

+ Response 200 (application/json)

        {
            "id": "12345678-5678-1234-1234-123456789012",
            "name": "test-working-place",
            "type": "working_place",
            "holiday_policy": {
              "id": "12345678-1234-1234-1234-123456789012",
              "name": "test",
              "country": "pl",
              "region": "ds",
              "type": "holiday_policy"
            }
        }

### GET Get Working Place Details with holiday policy and its holidays [GET /api/v1/working_places/{working_place_id}?embed=holiday_policy.holidays]

+ Response 200 (application/json)

        {
            "id": "12345678-5678-1234-1234-123456789012",
            "name": "test-working-place",
            "type": "working_place",
            "holiday_policy": {
              "id": "12345678-1234-1234-1234-123456789012",
              "name": "test",
              "country": "pl",
              "region": "ds",
              "type": "holiday_policy"
              "holidays": [
                {
                  "id": "87654321-1234-1234-1234-123456789012",
                  "holiday_policy_id": "12345678-1234-1234-1234-123456789012",
                  "name": "test",
                  "date": "01.01.2015",
                  "type": "holiday"
                }
              }
            ]
        }

### PUT Update Working Place name [PUT]

+ Attributes
    + name: New name (required, string) - New name for working place
    + type: working_place (string)

+ Request (application/json)

        {
            "name": 'Smaple name',
            "type": "working_place"
        }

+ Response 200 (application/json)

    {
        "id": "12345678-1234-1234-1234-123456789012",
        "name": "New name",
        "type": "working_place"
    }

### DELETE Delete working place [DELETE]

+ Request (application/json)

+ Response 204

### PATCH Assign employees to working place [PATCH /api/v1/working_places/{working_place_id}]

+ Attributes
    + employees:

+ Request (application/json)

        {
            "employees": [
                { "id": "123", "type": "employee"},
                { "id": "1234", "type": "employee"}
            ]
        }

+ Response 204 (application/json)




## Employees [/api/v1/employees]

### GET List all employees with attributes [GET]

Get a list of all employees

+ Request (application/json)

+ Response 200 (application/json)

        [
            {
              "id": "12345678-1234-1234-1234-123456789012",
              "type": "employee",
              "attributes": [
                {
                  "id": "12345678-1234-1234-1234-123456789012",
                  "type": "employee_attribute",
                  "value": "ABC",
                  "attribute_definition": {
                    "type": "employee_attribute_definitions",
                    "id": "xyz"
                  }
                },
                {
                  "id": "12345678-1234-1234-1234-123456789013",
                  "type": "employee_attribute",
                  "value": "Asd",
                  "attribute_definition": {
                    "type": "employee_attribute_definitions",
                    "id": "xyz"
                  }
                }
              ]
            },
            {
              "id": "87654321-1234-1234-1234-123456789012",
              "type": "employee",
              "attributes": [
                {
                  "id": "12345678-1234-1234-1234-123456789012",
                  "type": "employee_attribute",
                  "value": "ABC",
                  "attribute_definition": {
                    "type": "employee_attribute_definitions",
                    "id": "xyz"
                  }
                }
              ]
            }
        ]

### GET Employee details [GET /api/v1/employees/{employee_id}]

+ Parameters
  + employee_id: 12 (required, string) - ID is in uuid format

+ Request (application/json)

        {
          "id": "12345678-1234-1234-1234-123456789012"
        }

+ Response 200 (application/json)

        {
          "id": "12345678-1234-1234-1234-123456789012",
          "type": "employee",
          "attributes": [
            {
              "id": "12345678-1234-1234-1234-123456789012",
              "type": "employee_attribute",
              "value": "ABC",
              "attribute_definition": {
                "type": "employee_attribute_definitions",
                "id": "xyz"
              }
            },
            {
              "id": "12345678-1234-1234-1234-123456789013",
              "type": "employee_attribute",
              "value": "Asd",
              "attribute_definition": {
                "type": "employee_attribute_definitions",
                "id": "xyz"
              }
            }
          ]
        }






# Data Structures

## Working Place Base (object)

+ name: Test (string, required)
+ type: working_place (string)

## Employee Attribute Definition Base (object)

+ name: lastname (string, required)
+ label: test label (string)
+ attribute_type: String (string, required)
+ system: True (boolean, required)

## Employee Attribute Definition Put (object)

+ id: 1 (string, required)
+ name: lastname (string, required)
+ label: test label (string)
+ attribute_type: String (string, required)
+ system: True (boolean, required)


## Employee Attribute Definition Patch (object)

+ id: 1 (string, required)
+ name: lastname (string)
+ label: test label (string)
+ attribute_type: String (string)
+ system: True (boolean)

## Holiday Policy Base

+ name: test(string, required)
+ country: ch(string)
+ region: zh(string)
+ employees: [employees: {"id": "1"}](array)
+ working_places: [working_places: {"id": "1"}](array)
+ holidays: [holidays: {"id": "1"}](array)

## Holiday Policy Put (object)

+ id: 1(string, required)
+ name: test(string, required)
+ country: ch(string)
+ region: zh(string)
+ employees: [employees: {"id": "1"}](array)
+ working_places: [working_places: {"id": "1"}](array)
+ holidays: [holidays: {"id": "1"}](array)

## Holiday Policy Patch (object)

+ id: 1(string, required)
+ name: test(string)
+ country: ch(string)
+ region: zh(string)
+ employees: [employees: {"id": "1"}](array)
+ working_places: [working_places: {"id": "1"}](array)
+ holidays: [holidays: {"id": "1"}](array)
