FORMAT: 1A
HOST: http://api.lvh.me:3000

# Yalty API

## Account Settings [/api/v1/settings]

### GET Account settings details [GET]

Settings for current account

+ Response 200 (application/json)

        {
            "subdomain": "my-company-946",
            "company_name": "My lol",
            "timezone": "Europe/Madrid",
            "default_locale": "en",
        }

### PUT Update account settings [PUT]

Ability to update current account settings

+ Attributes
  + subdomain: my.subdomain (string) - Account subdomain
  + company_name: ABC company (string)
  + timezone: Europe/Madrid (string)
  + default_locale: en (string)

+ Response 200

### PATCH Assign holiday policy to account as default policy [PATCH]

+ Attributes
  + holiday_policy:
    + id: 1ab (string) - Id holiday policy

+ Response 200


## Working Places Collection [/api/v1/working_places]

### GET List all user's working places [GET]

Get a list of all available for user working places

+ Response 200 (application/json)

        [
            {
              "id": "12345678-1234-1234-1234-123456789012",
              "name": "test-working-place",
            },
            {
              "id": "87654321-1234-1234-1234-123456789012",
              "name": "test-test",
            }
        ]

### POST Create a working place [POST]

Create a new working place
By default account_id is equal Account.current.id

+ Attributes (Working Place Base)

+ Request (application/json)

+ Response 201 (application/json)

        {
            "id": "12345678-1234-1234-1234-123456789012",
            "name": "test-working-place",
        }

## Working Place [/api/v1/working_places/{working_place_id}]

+ Parameters
    + working_place:
        + id: 1ab (required, string) - ID of the Working Place is an uuid

### GET Get Working Place Details [GET]

+ Response 200 (application/json)

        {
            "id": "12345678-1234-1234-1234-123456789012",
            "name": "test-working-place",
        }

### GET Get Working Place Details with holiday policy [GET /api/v1/working_places/{working_place_id}?embed=holiday_policy]

+ Response 200 (application/json)

        {
            "id": "12345678-5678-1234-1234-123456789012",
            "name": "test-working-place",
            "holiday_policy": {
              "id": "12345678-1234-1234-1234-123456789012",
              "name": "test",
              "country": "pl",
              "region": "ds"
            }
        }

### GET Get Working Place Details with holiday policy and its holidays [GET /api/v1/working_places/{working_place_id}?embed=holiday_policy,holidays]

+ Response 200 (application/json)

        {
            "id": "12345678-5678-1234-1234-123456789012",
            "name": "test-working-place",
            "holiday_policy": {
              "id": "12345678-1234-1234-1234-123456789012",
              "name": "test",
              "country": "pl",
              "region": "ds"
            },
            "holidays": [
              {
                "id": "87654321-1234-1234-1234-123456789012",
                "holiday_policy_id": "12345678-1234-1234-1234-123456789012",
                "name": "test",
                "date": "01.01.2015"
              }
            ]
        }

### PUT Update Working Place name [PUT]

+ Attributes
    + name: New name (required, string) - New name for working place

+ Request (application/json)

        {
            "name": 'Smaple name'
        }

+ Response 200 (application/json)

    {
        "id": "12345678-1234-1234-1234-123456789012",
        "name": "New name",
    }

### DELETE Delete working place [DELETE]

+ Response 204

### PUT Assign employees to working place [PUT /api/v1/working_places/{working_place_id}]

+ Attributes
    + employees:
        + ids: [ '1', '2'] (array[string])

+ Request (application/json)

        {
            "employees": {
                ids: [ 1, 2]
            }
        }

+ Response 200 (application/json)

# Data Structures

## Working Place Base (object)

+ name: Test (string, required)
