<body style="font-family: Lato, Sans-Serif; color: #172024; margin: 40px 40px 40px 40px;">
    <div style="margin-bottom: 10px">
        <%= image_tag("https://launchpad.yaltyapp.com/ember-cli-yalty-base/assets/icons/icon-yalty-logo.png", size: "167x60", alt: "yalty") %>
    </div>
    <div style="border-radius: 5px;  border: 2px solid #EFF3F6; float: left">
        <div style="margin: 40px 0px 60px 30px; width: 500px;">
            <h3 style="margin-bottom: 40px">
                Your latest archive is <span style="background-color: #FFFECE">ready</span>
            </h3>
            <%= link_to(archive_url_for(@account), {style: "background-color: #8BCFB6; color: #172024; border-radius: 5px; border: none; padding: 18px 20px 18px 20px; text-decoration: none;"}) do %>
                <b>View Archive</b>
            <% end %>
        </div>
    </div>
</body>
